@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root
{
    --colorAccent: #6adb00;
}

*
{
    font-family: inherit;
}

body, html
{
    background-color: #EEE;
    font-family: "Roboto", sans-serif;
    font-size: 23px;
    margin: 0;
    scroll-behavior: smooth;
}

::selection
{
    color: white;
    background-color: var(--colorAccent);
}

header
{
    position: fixed;
    width: 100%;
    box-shadow: 0 0 15px 3px #11111199;
    backdrop-filter: blur(3px);
    background-color: #181818F3;
    border-radius: 0 0 5px 5px;
}

.skipNav
{
    position: fixed;
    transform: translateX(-100%);
    transition: transform 200ms;
    text-decoration: overline;
    z-index: 100;
}
.skipNav::after
{
    content: "";
    display: flex;
    width: 100%;
    height: 2px;
    background: var(--colorAccent);
}   
.skipNav:focus
{
    transform: translateX(10%);
}

nav
{
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
}

a
{
    text-decoration: none;
    color: var(--colorAccent);
    padding: 16px;
    transition: background-color 100ms ease-in-out;
    border-radius: 5px;
}
a:hover
{
    background-color: #181818;
}

:focus
{ 
    outline: 1px solid var(--colorAccent);
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    overflow-x: hidden;
}

h1
{
    color: var(--colorAccent);
    text-align: center;
    margin-top: 120px;
}

h2
{
    margin-top: 0;
    margin-bottom: 16px;
    color: #222;
}

section
{
    margin: 32px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

article
{
    padding: 32px;
    width: 100%;
    gap: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
}

article:first-of-type
{
    border-top: 5px solid var(--colorAccent);
}

article:last-of-type
{
    border-bottom: 5px solid var(--colorAccent);
}

.articleBlack
{
    background-color: #222;
    color: white;
}

.articleWhite
{
    background-color: white;
    color: #222;
}

p
{
    font-family: 'calibri';
    max-width: 60ch;
    font-size: 22px;
}

img
{
    aspect-ratio: 1/1;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 15px 2px #11111199;
    transition: transform 200ms ease-in-out;
    cursor: pointer;
}
img:hover
{
    transform: scale(150%);
    transition-delay: 500ms;
}

.link
{
    background: none;
    margin: 0;
    padding: 0;
    position: relative;
}
.link:hover
{
    background: none;
}
.link::after
{
    content: "";
    background-image: url("img/link.png");
    position: absolute;
    background-size: cover;
    max-width: 50px;
    height: 100%;
}

@media(max-width: 500px)
{
    p, header
    {
        font-size: 20px;
    }

    h1
    {
        font-size: 35px;
        margin-top: 90px;
    }

    h2
    {
        font-size: 30px;
    }

    section
    {
        margin: 20px;
    }

    nav
    {
        gap: 0;
        justify-content: space-evenly;
    }
}

@media(max-width: 1025px)
{
    article
    {
        flex-direction: column;
    }

    p
    {
        margin: 16px;
    }

    img
    {
        order: -1;
    }
}
